@font-face {
  font-family: "TTL";

  src: url("./fonts/TTLakesBlack.woff");
}
@font-face {
  font-family: "TTLa";
  src: url("./fonts/TTLakesBold.woff");
}

@font-face {
  font-family: "TTLreg";
  src: url("./fonts/TTLakesRegular.woff");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "TTLreg";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.content {
  margin: 0 auto;
  max-width: 1120px;
}
.header__menu,
.header__search,
.header__settings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
}
.services__tabs {
  font-size: 16px;
}
.read-more {
  padding: 16px 0 16px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text-block {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 24px;
  font-family: "TTLreg";
}
.title {
  font-size: 28px;
  font-family: "TTLa";
  padding-left: 12px;
  position: relative;
  font-weight: 500;
  margin-top: 24px;
  position: relative;
}
.title::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section-services__tab {
  line-height: 24px;
  color: #7e7e82;
  margin-left: 16px;
  font-size: 16px;
}
.section-services__tab:first-child {
  margin-left: 0;
}
.icon {
  height: 10px;
  width: 7px;
}
.read {
  font-size: 16px;
  font-family: "TTLreg";
  font-weight: 400;
}
body {
  background-color: #f8f8f8;
}
.hero__banner {
  border-radius: 6px;
  max-width: 531px;
  width: 100%;
}

@media (max-width: 768px) {
  .header__left {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #d9fff5;
  }
  .services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-left: 16px;
  }

  .header__center,
  .header__divider--two,
  .header__divider.header__divider--three,
  .header__right-one,
  .header__right-two,
  .text-block__paragraph {
    display: none;
  }
  .header__right {
    display: flex;
    gap: 16px;
  }
  .header__right-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
.title {
  margin-bottom: 16px;
}
.header__divider--tire {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea;
}
.header__tell,
.header__message {
  display: none;
}

.section-services__tab.section-services__tab--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  padding: 8px 16px;
  color: #7e7e82;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .header__divider--tire,
  .header__right-one,
  .header__right-two,
  .text-block__hidden-text {
    display: none;
  }
  .header__center {
    display: flex;
    gap: 16px;
  }
  .header__right {
    display: flex;
    gap: 16px;
  }
  .header__left {
    display: flex;
    gap: 16px;
  }
  .header {
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    border-bottom: 1px solid #d9fff5;
    height: 88px;
  }
  .services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
  }
  .header__right-group {
    display: flex;
    gap: 20px;
  }
  .header__divider--two {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    margin: 0 20px 0 20px;
  }
  .header__divider.header__divider--three {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
  }
  .header__left {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .title {
    padding-top: 24px;
  }
  .text-block-block {
    width: 312px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .text-block__paragraph {
    padding-top: 30px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    position: relative;
    width: max-content;
  }
  .header__right-one {
    font-size: 16px;
    font-weight: 500;
  }

  .header__right-two {
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
  }
  .text {
    display: flex;
  }

  .header__left,
  .header__divider--tire,
  .header__center {
    display: none;
  }
  .page-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .title {
    margin-top: 42px;
  }
  .header__right-group {
    margin-left: auto;
  }
  .header__right {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  .text-block {
    display: grid;
    grid-auto-flow: column;
    gap: 36px;
    margin: 16px 0px 0 34px;
  }
  .text-block-block {
    width: 490px;
  }

  .text-block__paragraph {
    padding-top: 30px;
  }
  .services__tabs {
    display: flex;
    flex-wrap: wrap;

    margin-left: 16px;
  }
  .services__tabs button:last-child {
    flex-basis: 100%;
    text-align: left;
    padding-top: 16px;
  }
}

.page {
  display: flex;
}

.mobile {
  min-width: 320px;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2),
    -2px 0 4px rgba(69, 79, 126, 0.02);
  font-family: "TTLreg";
}

.mobile-menu {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-left: 24px;
}
.mobile-menu > :nth-child(2) {
  padding-left: 16px;
}
.mobile-menu > :nth-child(3) {
  margin-left: 78px;
}

.mobile-menu__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3e79;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.mobile-menu__nav {
  padding-left: 20px;
  padding-top: 50px;
  line-height: 32px;
  font-family: "TT Lakes";
  font-weight: 500;
}
.mobile-menu__nav p {
  font-size: 16px;
  color: #1b1c21;
}

.footer-icon {
  display: flex;
  gap: 16px;
}

.post {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  color: #1b1c21;
}
.phone {
  font-family: "TTLa";
  font-weight: 700;
  font-size: 24px;
  color: #1b1c21;
}
.mobile-menu__lang {
  display: flex;
  gap: 7px;
}
.mobile-menu__lang a:first-child {
  color: #7e7e82;
}
.mobile-menu__lang a {
  padding-top: 40px;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  color: #1b1c21;
}

.mobile-foot {
  padding-top: 268px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-top: 268px;
  gap: 16px;
}
button {
  transition: 1s ease;
}
button:hover {
  opacity: 0.8;
  filter: brightness(1.1);
}

.mobile-menu__activ::before {
  content: "";
  height: 32px;
  width: 4px;
  background-color: #41f6d7;
  position: absolute;
  top: 116px;
  left: 0;
  bottom: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
