.feedback-menu {
  position: fixed;
  right: 0px;
  background-color: #ffffff;
  padding-left: 32px;
  min-width: 440px;
  max-width: 440px;
}

@media (max-width: 768px) {
  .feedback-menu {
    display: none;
    min-height: 100%;
    position: relative;
    padding-top: 64px;
    padding-left: 16px;
  }
  .feedback-menu.active {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .feedback-menu {
    display: none;
  }
  .feedback-menu {
    position: absolute;
    right: 0;
    min-height: 100%;
  }
  .feedback-menu.active {
    display: block;
  }
}

@media (min-width: 1120px) {
  .feedback-menu {
    display: none;
  }
  .feedback-menu.active {
    display: block;
    height: 100%
  }
}
