.footer {
  display: flex;
  font-family: "TTLmed";
  align-items: center;
  color: #7e7e82;
  justify-content: space-between;
}
.footer__info {
  max-width: 330px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 16px;
    flex-direction: column;
    padding-left: 16px;
    gap: 16px;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    gap: 30px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 24px;
    padding-bottom: 41px;
    padding-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .footer {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 75px;
  }
   .footer__info {
    text-align: end;
    max-width: 213px
  }

}

@media (min-width: 1120px) {
  .footer {
    gap: 30px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 31px;
    padding-bottom: 21px;
  }
  .footer__policy {
    padding-left: 145px;
    margin-top: auto;
  }
  
}
