@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "swiper";
@import "footer";
@import "feedback-menu";
@import "header";
@import "mobilemenu";

// @import "callback";

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "TTLreg";
  background-color: #f8f8f8;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.content {
  width: 100%;
}
.header__menu,
.header__search,
.header__settings,
.header__center-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $fuk;
  overflow: hidden;
}

.services__tabs {
  display: flex;
  column-gap: 16px;
}
.read-more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text-block {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 24px;
  font-family: "TTLreg";
}
.title {
  font-size: 20px;
  font-family: "TTLa";
  padding-left: 12px;
  position: relative;
  font-weight: 500;
  position: relative;
}
.title::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  position: absolute;
  left: 0;
  top: 10px;
  transform: translateY(-50%);
}
.section-services__tab {
  line-height: 24px;
  color: #7e7e82;
  font-size: 16px;
  &:first-child {
    margin-left: 0;
  }
}

.icon {
  height: 10px;
  width: 7px;
}
.read {
  font-size: 16px;
  font-family: "TTLreg";
  font-weight: 400;
}
body {
  background-color: #f8f8f8;
}
.hero__banner {
  border-radius: 6px;
  width: 100%;
}

.header__divider--tire {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea;
}
.header__tell,
.header__message {
  display: none;
}

.section-services__tab.section-services__tab--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  padding: 8px 16px;
  color: #7e7e82;
  cursor: pointer;
}
.page {
  display: flex;
  min-height: 100%;
}

.footer-icon {
  display: flex;
  gap: 16px;
}

.post {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  color: #1b1c21;
}
.phone {
  font-family: "TTLa";
  font-weight: 700;
  font-size: 24px;
  color: #1b1c21;
}

button {
  transition: 1s ease;
}
button:hover {
  opacity: 0.8;
  filter: brightness(1.1);
}

ul li:first-child p {
  color: #7e7e82;
}

.gallery {
  margin-top: 24px;
}
.gallery__show-all {
  font-family: "TT Lakes";
  font-size: 16px;
}

.feedback__title {
  color: #1b1c21;
  font-size: 24px;
  font-family: "TT Lakes";
  margin: 40px 0 24px 0;
  font-weight: 700;
}
.feedback__field {
  margin-top: 16px;

  border: 1px solid #eaeaea;
  height: 48px;
  max-width: 348px;
  border-radius: 8px;
}

.feedback__input,
.feedback__textarea {
  padding-left: 20px;
  width: 100%;
  height: 100%;
}
.feedback__textarea {
  min-height: 30px;
}
.feedback__button {
  padding-top: 23px;
  padding-left: 224px;
}
.feedback__note {
  padding-top: 16px;
  font-size: 14px;
  color: #7e7e82;
  width: 360px;
}
.feedback__highlight {
  font-size: 16px;
  color: $fuk;
}
.feedback__title {
  position: relative;
}
.feedback__title::before {
  content: "";
  height: 40px;
  width: 3px;
  background-color: #41f6d7;
  position: absolute;
  left: -32px;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.feedback__close {
  position: absolute;
  top: 32px;
  right: 473px;
}
.callback {
  min-height: 100%;
  position: fixed;
  right: 0;
  min-width: 440px;
  background-color: #ffffff;
  padding-left: 30px;
}


.callback__title {
  margin-top: 40px;
  font-size: 24px;
  font-family: "TT Lakes";
  font-weight: 700;
  color: #1b1c21;
  position: relative;
}
.callback__title::before {
  content: "";
  height: 40px;
  width: 3px;
  background-color: #41f6d7;
  position: absolute;
  left: -16px;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.callback__input {
  padding-left: 16px;
  margin-top: 24px;
  width: 376px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid#EAEAEA;
}
.callback__note {
  margin-top: 16px;
  font-size: 14px;
  color: #7e7e82;
  width: 360px;
  line-height: 16px;
}

.callback__link {
  font-size: 16px;
  color: $fuk;
}

.callback__submit {
  padding-top: 16px;
  padding-left: 242px;
}
.brans2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 50px;
  padding-left: 32px;
}
.swiper-slide2 {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 240px;
  height: 160px;
}

@media (max-width: 768px) {
  .callback__close {
    position: absolute;
    left: 16px;
    top: 24px;
  }
  .prices-slider__card {
    height: 200px !important;
    width: 260px !important;
    position: relative;
  }

  .feedback__title::before {
    left: -16px;
  }
  .callback {
    position: relative;
    padding-top: 64px;
    padding-left: 16px;
    min-width: 100%;
    &__lose {
      position: fixed;
      top: 24px;
      left: 16px;
    }
  }

  .hidden {
    display: none;
  }

  .feedback__close {
    position: fixed;
    left: 16px;
    top: 24px;
  }

  h2 {
    font-size: 16px;
    font-family: "TT Lakes";
    color: #7e7e82;
    margin-top: 15px;
  }
  .gallery {
    display: none;
  }
  .brands {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 24px;
  }

  .swiper {
    width: 100%;
    padding-bottom: 20px;
  }
  .swiper-pagination {
    bottom: -2px !important;
  }
  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #dddddd;
  }
  .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }
  .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px 20px;
    width: 240px;

    gap: 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .brands__arrow {
    margin-left: 10px;
  }

  .text-block-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .brands {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .header__bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .header__left {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    padding-left: 16px;
  }

  .header__center,
  .header__divider--two,
  .header__divider.header__divider--three,
  .header__right-one,
  .header__right-two,
  .text-block__paragraph,
  .header__right-mod,
  .prices-services {
    display: none;
  }
  .header__right {
    display: flex;
    gap: 16px;
  }
  .header__right-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .price-note {
    max-width: 250px;
    padding-left: 16px;
    margin: 0 auto;
    width: 288px;
    padding-top: 16px;
  }

  .price-note__text {
    font-size: 14px;
  }
  .prices-slider {
    padding-left: 32px;
    padding-top: 40px;
  }
  .prices-slider__title {
    padding-bottom: 32px;
  }
  .prices-slider__card {
    display: block;
    line-height: 18px;
  }
  .prices-slider__label {
    padding-top: 16px;
  }
  .prices-slider__service,
  .prices-slider__label {
    color: #7e7e82;
    font-size: 14px;
  }
  .prices-slider__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  .brands-slider2__card {
    width: 240px;
    height: 160px;
    display: flex;
    flex-direction: row;
  }
  .brands-slider2__title {
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 16px;
    font-family: "TTLmed";
  }
  .brands-slider2__icon {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .header__divider--tire,
  .header__right-one,
  .header__right-two,
  .text-block__hidden-text,
  .header__right-mod,
  .hidden,
  .prices-slider {
    display: none;
  }
.callback__close {
  position: absolute;
  top: 32px;
  right: 473px;
}
  .content.hidden {
    opacity: 0.096;
    display: block;
  }

  .price-note__button {
    padding-top: 16px;
    text-align: justify;
  }
  .footer__policy {
    padding-left: 49px;
  }
  .price-note__text {
    line-height: 24px;
  }

  .prices-services {
    margin-left: 24px;
    padding-top: 49px;
  }
  .price-table {
    padding-left: 16px;
    width: 100%;
    height: 46px;
  }
  tbody {
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 16px;
  }
  td {
    border-bottom: 1px solid #eaeaea;
    height: 47px;
  }
  .service-col {
    padding-left: 16px;
  }
  .price-table2 {
  }

  .prices-services__title {
    padding-bottom: 47px;
    height: 24px;
    font-size: 16px;
  }
  .callback__title::before {
    left: -30px;
  }

  h2 {
    font-family: "TT Lakes";
    font-size: 16px;
    color: #7e7e82;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .brands {
    margin-left: 24px;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 240px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 16px;
  }
  .header__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .header__bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .header__center {
    display: flex;
    gap: 16px;
  }
  .header__right {
    display: flex;
    gap: 16px;
  }
  .header__left {
    display: flex;
    gap: 16px;
  }

  .services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
  }
  .header__right-group {
    display: flex;
    gap: 20px;
  }
  .header__divider--two {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    margin: 0 20px 0 20px;
  }
  .header__divider.header__divider--three {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
  }
  .header__left {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .title {
  }
  .text-block-block {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 36px;

    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .text-block {
    display: flex;
    flex-direction: column;
  }
  .text-block__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .brands {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .swiper-wrapper2 {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .swiper {
    margin-left: 0px;
  }
  .price-note {
    height: 100px;
    width: 421px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "TT Lakes";
    color: #1b1c21;
    padding-left: 40px;
    padding-top: 24px;
    margin-bottom: 83px;
  }
}

@media (min-width: 1120px) {
  .callback__close {
  position: absolute;
  top: 32px;
  right: 473px;
}
  .hidden,
  .prices-slider {
    display: none;
    min-height: 100%;
  }

  .content {
    padding-right: 29px;
    &.hidden {
      opacity: 0.096;
      display: block;
    }
  }
  .header__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .hero__banner {
    height: 100%;
    width: 50%;
  }

  .header__right-one {
    font-size: 16px;
    font-weight: 500;
  }

  .header__right-two {
    margin-left: 32px;
    font-size: 16px;
    font-weight: 500;
  }
  .text {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-right: 37px;
  }

  .header__left,
  .header__divider--tire {
    display: none;
  }
  .foo {
    display: flex;
  }
  .page-header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .text-block__content {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 50%;
  }
  .title {
  }
  .header__right-group {
    margin-left: auto;
  }
  .header__right-mod {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  .text-block {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding: 16px 0px 0 34px;
  }
  .text-block-block {
    display: flex;
    width: 100%;
    gap: 36px;
  }

  .services__tabs {
    display: flex;
    flex-wrap: wrap;

    padding-left: 16px;
  }
  .brands {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 32px;
  }
  h2 {
    font-family: "TTLreg";
    font-size: 16px;
    font-weight: 400;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 240px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 16px;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .callback__title::before {
    left: -30px;
  }

  .swiper-wrapper2 {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .swiper {
    margin-left: 0px;
  }
  .prices-services {
    /* border: 1px solid black; */
    /* height: 1000px; */
    padding-left: 32px;
  }
  .prices-services__title {
    font-size: 16px !important;
    font-family: "TT Lakes";
    color: #7e7e82;
    padding-top: 67px;
  }

  .price-table th {
    padding-left: 10px;
    font-weight: 400;
    color: #7e7e82;
  }
  .service-col1 {
    font-size: #7e7e82;
  }
  tr {
    font-size: 14px;
    height: 64px;
  }
  td {
    font-size: #7e7e82;
    padding-left: 24px; /* вертикальные и горизонтальные отступы */
    border-bottom: 1px solid #eaeaea;
    height: 47px;
  }
  tbody {
    background-color: #ffffff;
  }

  .price-col {
    margin-left: 10px;
  }

  .price-table__1 {
    color: #7e7e82 !important;
    padding-top: 23px;
  }
  .prices-services {
    display: flex;
    flex-direction: column;
    gap: 47px;
  }
  .price-table {
    height: 46px;
    font-family: "TTLreg";
    text-align: left;
    font-size: 14px;
    border-spacing: 0;
  }
  .action-col {
    text-align: center;
  }
  .time-col {
    text-align: center;
  }
  .price-col {
    text-align: left;
  }
  .price-note {
    height: 100px;
    width: 421px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "TT Lakes";
    color: #1b1c21;
    padding-left: 32px;
    padding-top: 32px;
    margin-bottom: 83px;
  }

  .price-note__text {
    line-height: 20px;
    font-size: 14px;
    font-family: "TTLreg";
  }

  .price-note__button {
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;
  }
  .price-note__button::after {
    content: url("../IMG2/more.png");
    font-size: 24px;
    vertical-align: middle;
  }
}

.callback {
  display: none;
}
.callback.active {
  display: block;
}
table {
  border-collapse: separate; /* важно */
  border-spacing: 0;
}

/* убрать двойные границы внутри */
tbody td + td {
  border-left: none;
}

/* скругления только у угловых ячеек тела */
tbody tr:first-child td:first-child {
  border-top-left-radius: 8px;
}
tbody tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
